@import "utilities";
@import "variables";
@import "fonts";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--silkSerif);
}

body {
  background: #1b2026;
  &::-webkit-scrollbar {
    width: 0;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

*:disabled {
  pointer-events: none;
  opacity: 0.6;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #ffffff;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
