#Header {
	background: #1b2026;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	box-shadow: 0 0 1px gray;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 18px 0;
		@media (max-width:780px) {
			padding-bottom: 13px;
		}

		.switchLanguage {
			font-family: var(--silkSerif);
			font-size: 20px;
			font-weight: 600;
			line-height: 1;
			text-align: left;
			color: #ffffff;
			@media (max-width: 900px) {
				display: none;
			}
		}

		.header_logo {
			h1 {
				font-size: 28px;
				font-weight: 600;
				color: #fff;
				margin-bottom: 8px;
			}
		}

		.header_search {
			display: flex;
			align-items: center;
			gap: 100px;
			color: #ffffff;

			@media (max-width: 1180px) {
				gap: 20px;
			}

			.nav_items {
				display: flex;
				align-items: center;
				gap: 50px;

				@media (max-width: 1180px) {
					gap: 20px;
				}

				@media (max-width: 900px) {
					display: none;
				}

				a {
					font-family: var(--spartan);
					font-size: 16px;
					font-weight: 500;
					line-height: 17.92px;
					color: #fff;
					padding: 4px;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.end {
				display: flex;
				align-items: center;
				gap: 80px;

				@media (max-width: 1180px) {
					gap: 20px;
				}
			}
		}
	}
}
