#Header {
	background: #1b2026;
	position: sticky;
	width: 100%;
	top: 0;
	box-shadow: 0 0 1px gray;
	z-index: 80;
	padding: 18px 0;

	@media (max-width: 480px) {
		padding: 10px 0 8px 0;
	}
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.switchLanguage {
			font-family: var(--silkSerif);
			font-size: 20px;
			font-weight: 600;
			line-height: 1;
			text-align: left;
			color: #ffffff;

			@media (max-width: 900px) {
				display: none;
			}
		}

		.header_logo {
			h1 {
				font-size: 28px;
				font-weight: 600;
				color: #fff;
				line-height: 1;
				@media (max-width: 1920px) and (min-width: 900px) {
					margin-bottom: 8px;
				}
			}
		}

		.header_search {
			display: flex;
			align-items: center;
			gap: 100px;
			color: #ffffff;

			@media (max-width: 1180px) {
				gap: 20px;
			}

			.nav_items {
				display: flex;
				align-items: center;
				gap: 50px;

				@media (max-width: 1180px) {
					gap: 20px;
				}

				@media (max-width: 900px) {
					display: none;
				}

				a {
					font-family: var(--spartan);
					font-size: 16px;
					font-weight: 500;
					line-height: 17.92px;
					color: #fff;
					padding: 4px;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.end {
				display: flex;
				align-items: center;
				gap: 80px;

				@media (max-width: 1180px) {
					gap: 20px;
				}
				@media (max-width: 870px) {
					gap: 10px;
				}
			}
		}
	}
}
