.about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  color: #fff;

  .about_text {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .about_block {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    .about_box {
      display: flex;
      flex-direction: column;

      img {
        width: 528px;
      }

      h1 {
        font-family: Silk Serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 61.36px;
        width: 365px;
        height: 122px;
      }

      h3 {
        font-family: Spartan;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 539px;
        height: 120px;
      }
    }
  }
}
