.best {
	padding: 50px 0;
	color: #ffffff;

	.best_sellers {
		display: flex;
		align-items: flex-end;
		gap: 40px;

		h4 {
			font-family: var(--shalimar);
			font-size: 40px;
			font-weight: 400;
			line-height: 0.5;
		}
	}

	.best_block {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.best_text {
			h4 {
				width: 320px;
				height: 122px;
				font-family: var(--silkSerif);
				font-size: 40px;
				font-weight: 600;
				line-height: 61.36px;
			}

			p {
				width: 447px;
				height: 72px;
				font-family: var(--spartan);
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
			}
		}

		.best_image {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}
}

.kg .best .best_block .best_text,
.ru .best .best_block .best_text {
	h4 {
		max-width: 780px;
		line-height: 1;
	}
}

@media (max-width: 780px) {

	.kg .best,
	.ru .best {
		.best_sellers {
			align-items: center;
			gap: 10px;
			margin-bottom: 20px;

			h4 {
				font-size: 1.9em;
				font-weight: 400;
				line-height: 1;
			}
		}
	}

	.best {
		padding: 70px 0;

		.best_sellers {
			margin-bottom: 20px;
		}

		.best_block {
			justify-content: space-between;
			flex-direction: column;
			gap: 20px;

			.best_text {
				h4 {
					height: auto;
					font-size: 32px;
					font-weight: 600;
					line-height: 1.2 !important;
					width: 90%;
				}

				p {
					width: 90%;
					height: 72px;
					font-size: 16px;
					font-weight: 400;
					margin-top: 20px;
				}
			}

			.best_image {
				display: flex;
				width: 100%;
				// flex-direction: column;
				align-items: center;
				gap: 20px;
				overflow-x: scroll;
				margin-top: 20px;
			}
		}
	}
}
