.MainMenu {
	padding-top: 31px;
	padding-bottom: 61px;
	color: #ffffff;

	.MainMenu__inner {
		display: flex;
		justify-content: space-between;
		margin-top: 64px;
		gap: 80px;
		@media (max-width: 1200px) {
			gap: 60px;
		}
		@media (max-width: 1100px) {
			flex-direction: column;
			gap: 30px;
			margin-top: 52px;
		}
		@media (max-width: 800px) {
			margin-top: 32px;
		}
	}
}
