#Hero {
	background-image: linear-gradient(
			rgba(8, 5, 22, 0.712),
			rgba(5, 8, 22, 0.658)
		),
		url('../../../../assets/heroimage.png');
	background-size: cover;
	background-position: center;

	.hero {
		width: 100%;
		padding: 100px 0;
		background-size: cover;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-size: cover;
		background-position: center;
		color: white;
		border-radius: 20px;

		.head {
			display: flex;
			align-items: center;
			gap: 10px;

			.headImg {
				width: 100%;
				height: 14px;
			}

			h3 {
				font-family: var(--shalimar);
				font-size: 40px;
				font-weight: 400;
				line-height: 48.8px;
				text-align: left;
			}
		}

		h1 {
			font-size: 64px;
			font-weight: 600;
			line-height: 98.18px;
			text-align: left;
		}

		p {
			font-family: var(--spartan) !important;
			font-size: 16px;
			font-weight: 500;
			line-height: 17.92px;
			text-align: center;
			width: 40%;
		}

		.box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 30px;
			gap: 5px;

			button {
				display: flex;
				gap: 10px;
				font-family: var(--spartan);
				font-size: 12px;
				font-weight: 600;
				line-height: 13.44px;
				text-align: left;
				background: #00000000;
				color: white;
				padding: 10px 30px;
				border-radius: 2px;
				border: solid 1px #ef272c;
				transition: all 0.15s;
			}

			button:hover {
				background: #ef272c;
			}

			.line {
				border: solid 1px #ef272c;
				width: 100px;
				height: 1px;
			}
		}
	}

	.block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 20px 0;

		.location1 {
			width: 100%;

			display: flex;
			align-items: center;
			justify-content: start;
			color: white;
			gap: 10px;

			h3 {
				font-family: var(--spartan);
				font-size: 14px;
				font-weight: 600;
				line-height: 15.68px;
				text-align: left;
			}

			.line {
				width: 50px;
				height: 1px;
				background: white;
			}

			p {
				font-family: var(--spartan);
				font-size: 12px;
				font-weight: 500;
				line-height: 13.44px;
				text-align: left;

				span {
					color: #ef272c;
					padding: 0 4px;
				}
			}
		}

		.location2 {
			width: 100%;

			display: flex;
			align-items: center;
			justify-content: end;
			color: white;
			gap: 10px;

			h3 {
				font-family: var(--spartan);
				font-size: 14px;
				font-weight: 600;
				line-height: 15.68px;
				text-align: left;
			}

			.line {
				width: 50px;
				height: 1px;
				background: white;
			}

			p {
				font-family: var(--spartan);
				font-size: 12px;
				font-weight: 500;
				line-height: 13.44px;
				text-align: left;

				span {
					color: #ef272c;
					padding: 0 4px;
				}
			}
		}
	}
}
