.best {
	padding: 50px;
	color: #ffffff;

	.best_sellers {
		display: flex;
		align-items: center;
		gap: 10px;

		h1 {
			font-family: 'Shalimar', cursive;
			font-family: var(--shalimar);
			font-size: 40px;
			font-weight: 400;
			line-height: 1;
		}
	}

	.best_block {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.best_text {
			h1 {
				width: 320px;
				font-family: var(--silkSerif);
				font-size: 40px;
				font-weight: 600;
				line-height: 1.2;
				margin-bottom: 20px;
			}

			p {
				width: 447px;
				height: 72px;
				font-family: var(--spartan);
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
			}
		}

		.best_image {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}
}
